In [4]:
import pandas as pd
import sqlite3

In [ ]:
conn = sqlite3.connect('inventory.db')

In [6]:
tables = pd.read_sql_query("select name from sqlite_master where type='table'", conn)
tables

              name
0  begin_inventory
1    end_inventory
2        purchases
3  purchase_prices
4            sales
5   vendor_invoice

In [7]:
for table in tables['name']:
    print('_'*50, f'{table}','_'*80)
    print('count of records:', pd.read_sql(f"select count(*) as count from {table}", conn)['count'].values[0])
    display(pd.read_sql(f"select * from {table} limit 5", conn))

__________________________________________________ begin_inventory ________________________________________________________________________________
count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

__________________________________________________ end_inventory ________________________________________________________________________________
count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

__________________________________________________ purchases ________________________________________________________________________________
count of records: 808829

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124.0,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6.0,214.26,1.0
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137.0,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4.0,37.40,1.0
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137.0,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5.0,47.05,1.0
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137.0,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6.0,56.10,1.0
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169.0,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5.0,106.60,1.0

__________________________________________________ purchase_prices ________________________________________________________________________________
count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

__________________________________________________ sales ________________________________________________________________________________
count of records: 4193248

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

__________________________________________________ vendor_invoice ________________________________________________________________________________
count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

In [8]:
purchases = pd.read_sql("select * from purchases where VendorNumber = 4466", conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137.0,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4.0,37.40,1.0
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137.0,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5.0,47.05,1.0
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137.0,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6.0,56.10,1.0
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207.0,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6.0,56.46,1.0
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207.0,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6.0,56.46,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10257.0,2024-05-17,2024-05-25,2024-06-04,2024-07-08,9.41,4.0,37.64,1.0
685,7_STANMORE_5215,7,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10257.0,2024-05-17,2024-05-27,2024-06-04,2024-07-08,9.41,6.0,56.46,1.0
686,66_EANVERNESS_5255,66,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10257.0,2024-05-17,2024-05-25,2024-06-04,2024-07-08,9.35,6.0,56.10,1.0
687,66_EANVERNESS_5215,66,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10257.0,2024-05-17,2024-05-25,2024-06-04,2024-07-08,9.41,6.0,56.46,1.0
688,41_LARNWICK_3140,41,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10257.0,2024-05-17,2024-05-25,2024-06-04,2024-07-08,11.19,18.0,201.42,1.0

In [9]:
purchase_prices = pd.read_sql_query("select * from purchase_prices where VendorNumber = 4466", conn)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [10]:
vendor_invoice= pd.read_sql_query("select * from vendor_invoice where VendorNumber = 4466", conn)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [11]:
sales= pd.read_sql_query("""select * from sales where VendorNo = 4466""", conn)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2330,49_GARIGILL_5255,49,5255,TGI Fridays Ultimte Mudslide,1.75L,3,38.97,12.99,2024-05-20,1750.0,1,5.51,4466,AMERICAN VINTAGE BEVERAGE
2331,49_GARIGILL_5255,49,5255,TGI Fridays Ultimte Mudslide,1.75L,2,25.98,12.99,2024-05-21,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
2332,49_GARIGILL_5255,49,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-05-22,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2333,49_GARIGILL_5255,49,5255,TGI Fridays Ultimte Mudslide,1.75L,8,103.92,12.99,2024-05-27,1750.0,1,14.70,4466,AMERICAN VINTAGE BEVERAGE
2334,49_GARIGILL_5255,49,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-05-30,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [12]:
purchases.groupby(['Brand', 'PurchasePrice'])[['Quantity', 'Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19             855.0   9567.45
5215  9.41             1760.0  16561.60
5255  9.35             1942.0  18157.70

In [13]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [14]:
vendor_invoice['PONumber'].nunique()

55

In [15]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [16]:
sales.groupby('Brand')[['SalesDollars','SalesPrice','SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
3140        4767.33     2779.86            367
5215       19108.29    12743.19           1471
5255       22446.72    14808.60           1728

### The purchases table contains actual purchase data, including the date of purchase, products (brands) purchased by vendors, the amount paid (in dollars), and the quantity purchased.

The purchase price column is derived from the purchase_prices table, which provides product-wise actual and purchase prices. The combination of vendor and brand is unique in this table.

The vendor_invoice table aggregates data from the purchases table, summarizing quantity and dollar amounts, along with an additional column for freight. This table maintains uniqueness based on vendor and PO number.

The sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.

### As the data that we need for analysis is distributed in different tables, we need to create a summary table containing:

purchase transactions made by vendors

sales transaction data

freight costs for each vendor

actual product prices from vendors

In [20]:
freight_summary= pd.read_sql_query("""select VendorNumber, SUM(Freight) as freight_cost 
from vendor_invoice 
group by VendorNumber""", conn)

In [21]:
freight_summary

     VendorNumber  freight_cost
0               2         27.08
1              54          0.48
2              60        367.52
3             105         62.39
4             200          6.19
..            ...           ...
121         98450        856.02
122         99166        130.09
123        172662        178.34
124        173357        202.50
125        201359          0.09

[126 rows x 2 columns]

In [22]:
pd.read_sql_query("""select
                     p.VendorNumber,
                     p.VendorName,
                     p.Brand, 
                     p.PurchasePrice,
                     pp.Volume,
                     pp.Price as ActualPrice,
                     SUM(p.Quantity) as TotalPurchaseQuantity,
                     SUM(p.Dollars) as TotalPurchaseDollars
                     From purchases p
                     Join purchase_prices pp
                     On p.Brand= pp.Brand
                     where p.Purchaseprice > 0
                     Group by p.VendorNumber, p.VendorName, p.Brand
                     Order by TotalPurchaseDollars""", conn)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1.0,0.71
1,3960,DIAGEO NORTH AMERICA INC,3775,0.73,50,0.99,1.0,0.73
2,3252,E & J GALLO WINERY,5018,0.76,50,0.99,2.0,1.52
3,9815,WINE GROUP INC,22407,2.25,750,3.29,1.0,2.25
4,8004,SAZERAC CO INC,5683,0.39,50,0.49,6.0,2.34
...,...,...,...,...,...,...,...,...
8088,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,51168.0,933304.32
8089,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,42768.0,936191.52
8090,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,41089.0,952853.91
8091,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,42584.0,1118681.68
8092,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,86722.0,1402294.74

In [23]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [24]:
pd.read_sql_query("""select
                VendorNo,
                Brand,
                Sum(SalesDollars) as TotalSalesDollars,
                Sum(SalesPrice) as TotalSalesQuantity,
                Sum(SalesQuantity) as TotalSalesQuantity,
                Sum(ExciseTax) as TotalExciseTax
                From sales
                Group by VendorNo, Brand
                order by TotalSalesDollars""", conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesQuantity,TotalSalesQuantity,TotalExciseTax
0,8004,5287,0.98,0.98,2,0.10
1,9206,2773,0.99,0.99,1,0.05
2,3252,3933,1.98,0.99,2,0.10
3,3252,5018,1.98,1.98,2,0.10
4,10050,3623,1.98,1.98,2,0.10
...,...,...,...,...,...,...
9013,4425,3405,1229626.93,205986.99,40951,75242.09
9014,3960,3545,1259244.02,200550.42,40198,73858.47
9015,17035,8068,1279572.77,177742.45,50873,93473.04
9016,1128,1233,1449045.16,251033.90,39984,73464.92
9017,3960,4261,1791117.97,164602.35,80203,147367.20

In [52]:
vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),
PurchaseSummary AS (
    SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price AS ActualPrice,
        pp.Volume,
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Dollars) AS TotalPurchaseDollars
    FROM purchases p
    JOIN purchase_prices pp
        ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, pp.Price, pp.Volume
),
SalesSummary AS (
    SELECT
        VendorNo,
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
)
SELECT
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    ss.TotalSalesQuantity,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalExciseTax,
    fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss
    ON ps.VendorNumber = ss.VendorNo
    AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs
    ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC""", conn)

In [53]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,86722.0,1402294.74,80203.0,1791117.97,164602.35,147367.20,257032.07
1,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,42584.0,1118681.68,39984.0,1449045.16,251033.90,73464.92,68601.68
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,41089.0,952853.91,40951.0,1229626.93,205986.99,75242.09,144929.24
3,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,42768.0,936191.52,40198.0,1259244.02,200550.42,73858.47,257032.07
4,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,51168.0,933304.32,50873.0,1279572.77,177742.45,93473.04,123780.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8088,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6.0,2.34,128.0,62.72,0.98,6.72,50293.62
8089,9815,WINE GROUP INC,22407,Three Wishes Chard,2.25,3.29,750,1.0,2.25,1.0,3.29,3.29,0.11,27100.41
8090,3252,E & J GALLO WINERY,5018,E&J Apple Brandy,0.76,0.99,50,2.0,1.52,2.0,1.98,1.98,0.10,61966.91
8091,3960,DIAGEO NORTH AMERICA INC,3775,Smirnoff Sorbet Pine/Coconut,0.73,0.99,50,1.0,0.73,51.0,50.49,18.81,2.64,257032.07
8092,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1.0,0.71,86.0,85.14,33.66,4.46,38994.78

### This query generates a vendor-wise sales and purchase summary, which is valuable for:
#Performance Optimization:

The query involves heavy joins and aggregations on large datasets like sales and purchases.

Storing the pre-aggregated results avoids repeated expensive computations.

Helps in analyzing sales, purchases, and pricing for different vendors and brands.

Future benefits of storing this data for faster dashboarding & reporting.

Instead of running expensive queries each time, dashboards can fetch data quickly from vendor_sales_summary.

In [3]:
vendor_sales_summary.dtypes

NameError: name 'vendor_sales_summary' is not defined

In [55]:
vendor_sales_summary.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
Description                0
PurchasePrice              0
ActualPrice                0
Volume                     0
TotalPurchaseQuantity      0
TotalPurchaseDollars       0
TotalSalesQuantity       230
TotalSalesDollars        230
TotalSalesPrice          230
TotalExciseTax           230
FreightCost                0
dtype: int64

In [56]:
vendor_sales_summary['VendorName'].unique()

array(['DIAGEO NORTH AMERICA INC   ', 'BROWN-FORMAN CORP          ',
       'MARTIGNETTI COMPANIES', 'PERNOD RICARD USA          ',
       'BACARDI USA INC            ', 'PROXIMO SPIRITS INC.       ',
       'JIM BEAM BRANDS COMPANY    ', 'ULTRA BEVERAGE COMPANY LLP ',
       'MAJESTIC FINE WINES        ', 'STOLI GROUP,(USA) LLC      ',
       'SAZERAC CO INC             ', 'CAMPARI AMERICA            ',
       'MOET HENNESSY USA INC      ', 'M S WALKER INC             ',
       'CONSTELLATION BRANDS INC   ', 'SAZERAC NORTH AMERICA INC. ',
       'E & J GALLO WINERY         ', 'SIDNEY FRANK IMPORTING CO  ',
       'PALM BAY INTERNATIONAL INC ', 'HEAVEN HILL DISTILLERIES   ',
       'WILLIAM GRANT & SONS INC   ', 'REMY COINTREAU USA INC     ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'TRINCHERO FAMILY ESTATES   ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'STE MICHELLE WINE ESTATES  ',
       'LUXCO INC                  ', 'TREASURY WINE ESTATES      ',
       'MHW LTD                    ', 'SHAW ROSS INT L IMP LTD    ',
       'KOBRAND CORPORATION        ', 'BANFI PRODUCTS CORP        ',
       'PHILLIPS PRODUCTS CO.      ', 'DIAGEO CHATEAU ESTATE WINES',
       'STATE WINE & SPIRITS   ', 'FABRIZIA SPIRITS LLC       ',
       'PINE STATE TRADING CO      ', 'CALEDONIA SPIRITS INC      ',
       'VINEYARD BRANDS INC        ', 'OLE SMOKY DISTILLERY LLC   ',
       'DELICATO VINEYARDS INC     ', 'DUGGANS DISTILLED PRODUCTS ',
       'LATITUDE BEVERAGE COMPANY  ', 'KLIN SPIRITS LLC           ',
       'Serralles Usa LLC          ', 'Dunn Wine Brokers          ',
       'FLAG HILL WINERY & VINEYARD', 'CHARLES JACQUIN ET CIE INC ',
       'FREDERICK WILDMAN & SONS   ', 'LAIRD & CO                 ',
       'SEA HAGG DISTILLERY LLC    ', 'WESTERN SPIRITS BEVERAGE CO',
       'MCCORMICK DISTILLING CO    ', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'SWEET BABY VINEYARD        ',
       'LABELLE VYDS AND WINERY    ', 'ATLANTIC IMPORTING COMPANY ',
       'VRANKEN AMERICA            ', 'PREMIER DISTRIBUTORS       ',
       'PREMIUM PORT WINES, INC.   ', 'WEIN BAUER INC             ',
       'VINILANDIA USA             ', 'NICHE W & S                ',
       'BULLY BOY DISTILLERS       ', 'MANGO BOTTLING INC         ',
       'TAKARA SAKE USA INC        ', 'Russian Standard Vodka     ',
       'TY KU LLC                  ', 'PSP WINES ',
       'MARTIGNETTI COMPANIES ', 'ZORVINO VINEYARDS          ',
       'CRUSH WINES                ', 'TAMWORTH DISTILLING        ',
       'POVERTY LANE ORCHARDS      ', 'ALISA CARR BEVERAGES           ',
       'VINEXTRA INC               ', 'FORTUNE WINE BROKERS LLC   ',
       'DJINN SPIRITS LLC          ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'SEA BREEZE CELLARS LLC     ', 'Circa Wines                ',
       'MOONLIGHT MEADERY          ', 'JEWELL TOWNE VINEYARDS     ',
       'HOOD RIVER DISTILLERS, Inc.', 'SWEETWATER FARM         ',
       'SMOKY QUARTZ DISTILLERY LLC', 'INCREDIBREW INC            ',
       'BLACK PRINCE DISTILLERY INC', 'SURVILLE ENTERPRISES CORP  ',
       'ADAMBA IMPORTS INTL INC    ', 'CANDIA VINEYARDS           ',
       'ALTAMAR BRANDS LLC         ', 'VINEDREA WINES LLC         ',
       'TALL SHIP DISTILLERY LLC   ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ', 'STAR INDUSTRIES INC.       ',
       'R.P.IMPORTS INC            ', 'HAUNTING WHISPER VYDS      ',
       'THE PIERPONT GROUP LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'THE IMPORTED GRAPE LLC     ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'BRONCO WINE COMPANY        ',
       'HIGHLAND WINE MERCHANTS LLC', 'MILTONS DISTRIBUTING CO    ',
       'APPOLO VINEYARDS LLC       ', 'PARK STREET IMPORTS LLC    ',
       'SILVER MOUNTAIN CIDERS     ', 'FANTASY FINE WINES CORP    ',
       'CAPSTONE INTERNATIONAL     ', 'UNCORKED       '], dtype=object)

In [57]:
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64')

In [58]:
vendor_sales_summary.fillna(0, inplace=True)

In [59]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()

In [60]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars']-vendor_sales_summary['TotalPurchaseDollars']

In [61]:
vendor_sales_summary['ProfitMargin'] =  (vendor_sales_summary['GrossProfit'] /  vendor_sales_summary['TotalSalesDollars'])*100

In [62]:
vendor_sales_summary['StockTurnover'] =  vendor_sales_summary['TotalSalesQuantity']/ vendor_sales_summary['TotalPurchaseQuantity']

In [63]:
vendor_sales_summary['SalestoPurchaseRatio'] =  vendor_sales_summary['TotalSalesDollars'] / vendor_sales_summary['TotalPurchaseDollars']

In [64]:
vendor_sales_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'PurchasePrice',
       'ActualPrice', 'Volume', 'TotalPurchaseQuantity',
       'TotalPurchaseDollars', 'TotalSalesQuantity', 'TotalSalesDollars',
       'TotalSalesPrice', 'TotalExciseTax', 'FreightCost', 'GrossProfit',
       'ProfitMargin', 'StockTurnover', 'SalestoPurchaseRatio'],
      dtype='object')

In [69]:
cursor = conn.cursor()

In [70]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS vendor_sales_summary (
    VendorNumber INT,
    VendorName VARCHAR(100),
    Brand INT,
    Description VARCHAR(100),
    PurchasePrice DECIMAL(10,2),
    ActualPrice DECIMAL(10,2),
    Volume DECIMAL(10,2),
    TotalPurchaseQuantity INT,
    TotalPurchaseDollars DECIMAL(15,2),
    TotalSalesQuantity INT,
    TotalSalesDollars DECIMAL(15,2),
    TotalSalesPrice DECIMAL(15,2),
    TotalExciseTax DECIMAL(15,2),
    FreightCost DECIMAL(15,2),
    GrossProfit DECIMAL(15,2),
    ProfitMargin DECIMAL(15,2),
    StockTurnover DECIMAL(15,2),
    SalesToPurchaseRatio DECIMAL(15,2),
    PRIMARY KEY (VendorNumber, Brand)
);
""")

In [71]:
pd.read_sql_query("Select * from vendor_sales_summary",conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,86722.0,1402294.74,80203.0,1791117.97,164602.35,147367.20,257032.07,388823.23,21.708410,0.924829,1.277276
1,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,42584.0,1118681.68,39984.0,1449045.16,251033.90,73464.92,68601.68,330363.48,22.798701,0.938944,1.295315
2,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,41089.0,952853.91,40951.0,1229626.93,205986.99,75242.09,144929.24,276773.02,22.508699,0.996641,1.290467
3,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,42768.0,936191.52,40198.0,1259244.02,200550.42,73858.47,257032.07,323052.50,25.654480,0.939908,1.345071
4,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,51168.0,933304.32,50873.0,1279572.77,177742.45,93473.04,123780.22,346268.45,27.061255,0.994235,1.371013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8088,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6.0,2.34,128.0,62.72,0.98,6.72,50293.62,60.38,96.269133,21.333333,26.803419
8089,9815,WINE GROUP INC,22407,Three Wishes Chard,2.25,3.29,750.0,1.0,2.25,1.0,3.29,3.29,0.11,27100.41,1.04,31.610942,1.000000,1.462222
8090,3252,E & J GALLO WINERY,5018,E&J Apple Brandy,0.76,0.99,50.0,2.0,1.52,2.0,1.98,1.98,0.10,61966.91,0.46,23.232323,1.000000,1.302632
8091,3960,DIAGEO NORTH AMERICA INC,3775,Smirnoff Sorbet Pine/Coconut,0.73,0.99,50.0,1.0,0.73,51.0,50.49,18.81,2.64,257032.07,49.76,98.554169,51.000000,69.164384
8092,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1.0,0.71,86.0,85.14,33.66,4.46,38994.78,84.43,99.166079,86.000000,119.915493

In [72]:
vendor_sales_summary.to_sql('vendor_sales_summary', conn, if_exists = 'replace', index= False )

8093

In [44]:
import pandas as pd
import sqlite3
import logging
from ingestion_db import ingest_db


logging.basicConfig(
    filename="logs/get_vendor_summary.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a"

)
def create_vendor_summary(conn):
    '''this function wil merge the different tables to get the overall vendor summary and new columns in the resultant data'''
    vendor_sales_summary = pd.read_sql_query("""with FreightSummary As (
    select 
    VendorNumber,
    sum(Freight) as FreightCost
    from vendor_invoice
    group by VendorNumber
    ),

    PurchaseSummary As (
    select 
       p.VendorNumber,
                   p.VendorName,
                     p.Brand,
                     p.Description,
                     p.PurchasePrice,
                     pp.Volume,
                     pp.Price as ActualPrice,
                     SUM(p.Quantity) as TotalPurchaseQuantity,
                     SUM(p.Dollars) as TotalPurchaseDollars
                     From purchases p
                     Join purchase_prices pp
                     On p.Brand= pp.Brand
                     where p.Purchaseprice > 0
                     Group by p.VendorNumber, p.VendorName, p.Brand, p.PurchasePrice, pp.Volume, pp.Price
                     ),
                 
         SalesSummary AS (
           SELECT
            VendorNo,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesDollars) AS TotalSalesDollars,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
       FROM sales
       GROUP BY VendorNo, Brand 
    )

          SELECT
             ps.VendorNumber,
             ps.VendorName,
             ps.Brand,
             ps.Description,
             ps.PurchasePrice,
             ps.ActualPrice,
             ps.Volume,
             ps.TotalPurchaseQuantity,
             ps.TotalPurchaseDollars,
             ss.TotalSalesQuantity,
             ss.TotalSalesDollars,
             ss.TotalSalesPrice,
             ss.TotalExciseTax,
             fs.FreightCost
       FROM PurchaseSummary ps
       LEFT JOIN SalesSummary ss
         ON ps.VendorNumber = ss.VendorNo
         AND ps.Brand = ss.Brand
       LEFT JOIN FreightSummary fs
         ON ps.VendorNumber = fs.VendorNumber
       ORDER BY ps.TotalPurchaseDollars DESC""", conn) 
    
    return vendor_sales_summary

def clean_data(df):
    '''this function will clean the data'''
    
    # changing datatype to float
    df['Volume'] = df['Volume'].astype('float')
    
    # filling missing value with 0
    df.fillna(0, inplace=True)
    
    # removing spaces from categorical columns
    df['VendorName'] = df['VendorName'].str.strip()
    df['Description'] = df['Description'].str.strip()
    
    # creating new columns for better analysis
    vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']
    vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesDollars']) * 100
    vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity'] / vendor_sales_summary['TotalPurchaseQuantity']
    vendor_sales_summary['SalesToPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars'] / vendor_sales_summary['TotalPurchaseDollars']

    return df
if __name__ =='__main__':
    conn = sqlite3.connect('inventory.db')

    logging.info('creating vendor summary table.....')
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info('Cleaning Data....')
    clean_df = clean_data(summary_df)
    logging.info(clean_df.head())

    logging.info('ingesting data.....')
    ingest_db(clean_df, 'vendor_sales_summary',conn)
    logging.info('Completed')